{% extends "templates/custom_web.html" %}
{% block content %}
    <style>
        .container-tak {
            max-width: 800px;
            margin: 30px auto;
            background: #fff;
            margin-top: 150px;
            padding: 20px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
        }

        .form-header h2 {
            font-size: 24px;
            color: #333;
            text-align: left;
            margin-bottom: 20px;
            border-bottom: 2px solid #e7e7e7;
            padding-bottom: 10px;
        }

        .application-form {
            display: flex;
            flex-direction: column;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            color: #666;
            font-size: 16px;
        }

        .form-group input,
        .form-group select,
        .form-group textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        .form-group textarea {
            height: 120px;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
        }

        .apply-btn,
        .cancel-btn {
            padding: 10px 30px;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            outline: none;
        }

        .apply-btn {
            background-color: rgb(57, 116, 255);
            color: white;
        }

        .cancel-btn {
            background-color: rgba(60, 109, 255, 0.149);
            color: rgb(61, 97, 255);
        }

        .apply-btn:hover,
        .cancel-btn:hover {
            opacity: 0.9;
        }

        .apply-btn:active,
        .cancel-btn:active {
            transform: translateY(1px);
        }
    </style>

    <div class="container-tak">
        <div class="form-header">
            <h2>Please fill out this form to apply for the job</h2>
        </div>
        <form class="application-form" id="apply_for_job" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name1"  >
            </div>
            <div class="form-group">
                <label for="name">Job Role</label>
                <input type="text" id="role" name="job_role"  >
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="tel" id="phone" name="mobile_no" >
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" >
            </div>
            <div class="form-group">
                <label for="resume">Choose Resume</label>
                <input type="file" id="resume" name="resume" accept=".pdf, .doc, .docx" >
                
            </div>
            <div class="form-group">
                <label for="resume_url">Resume Url</label>
                <input type="text" id="resume_url" name="resume_url" >
                
            </div>
            <div class="form-group">
                <label for="cover-letter">Cover Letter</label>
                <textarea id="cover-letter" name="description"
                    placeholder="Write down your biography here. Let the employers know who you are..."
                    ></textarea>
            </div>
            <div class="form-group">
                <!-- <input type="submit" class="btn btn-primary" /> -->
                <button type="submit" name="send" id="sendBtn" class="btn btn-blue">
Apply</button>
            </div>
            <div class="form-group">
                <!-- <input type="submit" class="btn btn-primary" /> -->
                <div id="successMessage" style="display: none" class="badge bg-success">
                    Message sent successfully!
                </div>
                <div id="errorMessage" style="display: none" class="badge bg-danger">
                    There is something wrong, please try again later
                </div>
            </div>
        </form>
    </div>


    <!-- ====================Whatsapp Floating============ -->
    <div class="whatsappdesk"><a href="https://wa.me/919513777001" target="_blank" class="whatsapp-color"><i
                class="fa fa-whatsapp"></i></a></div>

    <div id="main-div">
        <div id="main-button" class="wave">
            <i class="fa fa-comments fa-times"></i>
        </div>
        <a href="tel:+919513777001" class="telegram-color"><i class="fa fa-phone" aria-hidden="true"></i></a>
        <a href="mailto:hello@360ithub.com?cc=sales@360ithub.com" class="messenger-color"><i
                class="fa fa-envelope"></i></a>
    </div>

    <!-- ============ FOOTER START ========== -->
   
    <!-- JavaScript	-->
    <script type="text/javascript" src="assets/custom_app/360ithub/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="assets/custom_app/360ithub/js/popper.min.js"></script>
    <script type="text/javascript" src="assets/custom_app/360ithub/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/custom_app/360ithub/js/slick.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="assets/custom_app/360ithub/js/wow.min.js"></script>
    <script type="text/javascript" src="assets/custom_app/360ithub/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>



    <script>
        window.frappe = {};
        frappe.ready_events = [];
        frappe.ready = function(fn) {
            frappe.ready_events.push(fn);
        }
        window.dev_server = {{ dev_server }};
        window.socketio_port = {{ (frappe.socketio_port or 9000) }};
        window.show_language_picker = {{ show_language_picker or 'false' }};
    </script>
    
    {% block base_scripts %}
    <!-- js should be loaded in body! -->
    <script>
        frappe.boot = {{ boot }}
        // for backward compatibility of some libs
        frappe.sys_defaults = frappe.boot.sysdefaults;
    </script>
    {{ include_script('frappe-web.bundle.js') }}
    {% endblock %}
     
    {%- for link in web_include_js %}
    {{ include_script(link) }}
    {%- endfor -%}
     
    {%- block script %}
        {% if colocated_js -%}
            <script>{{ colocated_js }}</script>
        {%- endif %}
    {%- endblock %}
    <!-- csrf_token -->
    {%- block body_include %}{{ body_include or "" }}{% endblock -%}
    <!-- PSCODE STARTS -->
    <!-- <script>
        // Optionally, you can use JavaScript to enhance the form submission experience
        document.getElementById("jobapply").addEventListener("submit", function (event) {
    
            event.preventDefault(); // Prevent the default form submission
    
            document.getElementById("sendBtn").disabled = true;
    
            // Submit the form using AJAX
            var formData = new FormData(this);
    
            fetch(this.action, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
            
                if (data.success) {
                    // Show SweetAlert for success
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Sent Successfully',
                        timer: 3000, // 10 seconds
                        showConfirmButton: false
                    });
    
                    // Optionally, you can reset the form
                    this.reset();
                    document.getElementById('demoPopup').style.display = 'none';
                } else {
                    // Show SweetAlert for failure
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'Email sending failed: ' + data.error
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script> -->
    
    <script>
        /* $(document).ready(function () {
             $("#contact-form").submit(function (event) {
                 event.preventDefault();
                 $("#successMessage").hide();
                 $("#errorMessage").hide();
                 $.ajax({
                     type: "POST",
                     url: "process_form.php",
                     data: $("#contact-form").serialize(),
                     success: function (response) {
                         if (response === "success") {
                             // Clear form fields
                             $("#contact-form")[0].reset();
                             // Hide error message
                             $("#errorMessage").hide();
                             // Show success message
                             $("#successMessage").show();
                         } else {
                             // Hide success message
                             $("#successMessage").hide();
                             // Show error message
                             $("#errorMessage").show();
                         }
                     },
                     error: function () {
                         $("#errorMessage").show();
                     }
                 });
             });
         }); */
    
    
    
         /* $(document).ready(function() {
            $("#apply_for_job").submit(function(event) {
                event.preventDefault(); // Prevent the default form submission behavior
                
                // Get individual form field values
                var name = $("#name").val();
                var role = $("#role").val();
                var phone = $("#phone").val();
                var email = $("#email").val();
                var resumeUrl = $("#resume_url").val();
                var coverLetter = $("#cover-letter").val();
                
                // Get the file input
                var fileInput = $("#resume")[0].files[0];
                console.log(fileInput);

                // Create a FormData object to send both form data and files
                var formData = new FormData();
                formData.append("name", name);
                formData.append("role", role);
                formData.append("phone", phone);
                formData.append("email", email);
                formData.append("resume_url", resumeUrl);
                formData.append("cover_letter", coverLetter);
                formData.append("file", fileInput);
                
                // Send the data to the server-side method using Frappe's REST API
                frappe.call({
                    method: "custom_app.custom_app.api.apply_for_job",
                    args: {
                        name: name,
                        role: role,
                        phone: phone,
                        email: email,
                        resume_url: resumeUrl,
                        cover_letter: coverLetter,
                        resume: resum
                    },
                    type: "POST",
                    contentType: false, // Set contentType to false when sending individual fields
                    processData: false, // Set processData to false when sending individual fields
                    callback: function(response) {
                        if (!response.exc) {
                            // Hide error message
                            $("#errorMessage").hide();
        
                            // Show success message using SweetAlert
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Thank you for applying for the job. HR will get back to you!',
                            }).then((result) => {
                                // Redirect to the home page after user clicks 'OK' in SweetAlert
                                if (result.isConfirmed) {
                                    window.location.href = "/"; // Replace "/" with the actual URL of your home page
                                }
                            });
        
                            // Reset the form
                            $("#apply_for_job")[0].reset();
                        } else {
                            alert("Error submitting form data: " + response.exc);
                        }
                    }
                });
            });
        }); */
                       
        $('#apply_for_job').submit(e=>{
            e.preventDefault();
            makecall();
            

        })
        let makecall = async()=>{
            let formdata = $('#apply_for_job').serializeArray().reduce(
                (obj,item)=>(obj[item.name]=item.value,obj),{}
            );
            let fileInput = $("#resume")[0].files[0];
            let filedata = new FormData()
            if(fileInput){
                filedata.append('file',fileInput);
            }
            if(formdata){
                let res = await $.ajax({
                    url : '/api/resource/Apply For Job',
                    type: 'POST',
                    headers:{
                        'Content-Type':'application/json',
                        'X-Frappe-CSRF-Token':frappe.csrf_token
                    },
                    data:JSON.stringify(formdata),
                    success:function(data){
                        return data
                    }
                })
                console.log(res);
                if(res.data && fileInput){
                    let imgres = await fetch('/api/method/upload_file',{
                        headers:{
                            
                            'X-Frappe-CSRF-Token':frappe.csrf_token
                        },
                        method: 'POST',
                        body: filedata
                    }).then(res=>res.json()).then(
                        data=>{

                            console.log(data);
                            if (data.message){
                                $.ajax({
                                    url : `/api/resource/Apply For Job/${res.data.name}`,
                                    type: 'PUT',
                                    headers:{
                                        'Content-Type':'application/json',
                                        'X-Frappe-CSRF-Token':frappe.csrf_token
                                    },
                                    data:JSON.stringify({resume:data.message.file_url}),
                                    success:function(data){
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Success',
                                            text: 'Thank you for applying for the job. HR will get back to you!',
                                        }).then((result) => {
                                            // Redirect to the home page after user clicks 'OK' in SweetAlert
                                            if (result.isConfirmed) {
                                                window.location.href = "/"; // Replace "/" with the actual URL of your home page
                                            }
                                        });
    
                                        // Reset the form
                                        $("#apply_for_job")[0].reset();
                                    }
                                })
                            }
                        }
                    )
                }
            }
        }
        
     </script>
{% endblock %}